WebApp/node_modules/*
WebApp/.git/*
WebApp/.cpcache/*
WebApp/src/blackfog/persets/personas/private/*
WebApp/resources/public/js/*
WebApp/.shadow-cljs/*
__pycache__
benchmark/questions/ruri.json
utils/qa_benchmark.py
test.py
test2.py
test.ipynb
test2.ipynb
tx_bot_webui.py
utils/webui/txbot
configs/user_preference.json